<style>
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
            }
    body{
        background-color:peachpuff;
        background-image: 'coffee.jpg';

    }
</style>
<body background="">
    <p>Your order of {{coffee}} ( {{method}} ) 
        has been confirmed. <br><br>
        Special instructions has been passed on (if any) <br><br>
        Your order will be delivered under 30 mins<br><br>
    
    </p>
    <p>Delivery person has been vaccinated . 
     <br>
     Please take care and stay safe during this pandemic
     
    </p>
</body>
